<!DOCTYPE html>
<html>
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>
    </body>
    <main>
        <form method="POST" action="/editar/:id">
            <input type="text" name="id" value = <%= auto.id %>>
            <input type="text" name="marca" value=<%= auto.marca %>>
            <input type="text" name="modelo" value=<%= auto.modelo %>>
            <input type="text" name="color" value=<%= auto.color %>>
            <input type="text" name="precio" value=<%= auto.precio %>>
            <input type="descripcion" name="descripcion" value=<% auto.descripcion%>>
            <input type="estado" name="estado" value=<%= auto.estado%>>
            <input type="submit" value="Editar">
        </form>
    </main>
</html>